* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template: 15% 50px 3fr 5% / repeat(5, 1fr);
  gap: 10px;
  min-height: 100vh;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-column: span 5;
  grid-row: span 1;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
}

.menu {
  grid-column: 2 / span 4;
  display: grid;
}

.menu > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: end;
}

.nav ul,
.menu ul {
  font-size: 16px;
  list-style-type: none;
}

.sidebar {
  background-color: #C50208;
  grid-row: 2 / span 2;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-column: 2 / -1;
  grid-row: 2 / 3;
}

.nav > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-row: 3 / 4;
  grid-column: 2 / -1;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  gap: 10px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-row: 4 / -1;
  grid-column: span 5;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}